*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}


/* ----- Layout ------ */

.container {
    width: 100%;
}


.hero {
    background-color: #6943FF;
    padding: 0 1.25em 1.25em; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.covert-number {
    width: 120px;
    height: 83px;
    margin: 0.51em 0 0.43em;
    background-color: #6943FF;
    color: #ffffff;
    
    border: 3px solid #B295FF;
    border-radius: 6px;
    
    font-size: 3.65rem;
    font-weight: bold;
    
   text-align: center;
}

   /* ------ Removing Arrows from convert-number ↓ ------- */

/* Chrome, Safari, Edge, Opera */
.covert-number::-webkit-outer-spin-button,
.covert-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.covert-number[type=number] {
  -moz-appearance: textfield;
}


/* ------- Removing Arrows ↑  ------- */

/* ------- Button ↓ -------- */

.convert-btn {
    padding: .56em 1.75em;
    background-color: #ffffff;
    color: #3D3D3D;
    border: none;
    border-radius: 5px;
}

.convert-btn:active{
    background-color: #C4B5FD;
}




/* ------- Button ↑ -------- */

.main-section {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
}

.main-section p {    color: #353535;
}

.color-accent {
    color: #5A537B;

}

@media (max-width: 650px) {
    .hero h1 {
        font-size: 1.9rem;
    }

} 

@media (max-width: 600px) {
    .covert-number {
        font-size: 3rem;
    }

    .vertical-line {
        display: block;
    }
     
  
    .spacing-text {
        display: block;
        text-align: center;
    }
}